params {
        igenomes_ignore =  true
        outdir = "/tmp/s2-out"
        input = "./samplesheet_offline.csv"
        dbsnp = "./data/dbsnp_146.hg38.vcf.gz"
        fasta = "./data/genome.fasta"
        no_intervals           = false
        no_intervals = true
//      intervals = "./data/genome_interval_list"
//      intervals = "./data/genome.multi_intervals.bed"
        skip_tools = "bqsr"
        skip_tools = "baserecalibrator"
//      skip_tools = "baserecalibrator,markduplicates,bqsr"
        only_paired_variant_calling =  true
        genome = null
        monochrome_logs = true
        outdir = "/tmp/sarek-302-outdir"
    //fasta = 's3://lifebit-user-data-nextflow/offline/sarek/data/genome.fasta'
    //gtf   = 's3://lifebit-user-data-nextflow/offline/sarek/data/genes_with_empty_tid.gtf.gz'
}
