/*
Offline test profile for nf-core/sarek
Uses S3-hosted test inputs and disables remote lookups.
*/

params {
    // Offline inputs (S3 CSV produced by this script)
    input = 's3://lifebit-user-data-nextflow/offline/sarek/data/inputs3.csv'
    //input = 's3://lifebit-user-data-nextflow/offline/rnaseq/data/inputs3.csv'
    outdir        = '/tmp/out-sarek'

    fasta = 's3://lifebit-user-data-nextflow/offline/sarek/data/genome.fasta'
    gtf   = 's3://lifebit-user-data-nextflow/offline/sarek/data/genes_with_empty_tid.gtf.gz'

    config_profile_name        = 'Offline test profile'
    config_profile_description = 'Minimal offline test dataset to check pipeline function'

    // Bounds for quick runs
    max_cpus   = 4
    max_memory = '4.GB'
    max_time   = '1.h'


    // Offline toggles
    genome                         = null
    igenomes_ignore                = true
    custom_config_version          = null
    pipelines_testdata_base_path   = null
    custom_config_base             = null
    //pipelines_testdata_base_path   = ''
    //custom_config_base             = ''
    validate_params                = false

    // Other parameters
    //skip_bbsplit        = false
    skip_bbsplit        = true
    skip_pseudo_alignment    = true
    skip_alignment           = true
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'

}

// When using RSEM, remove warning from STAR whilst building tiny indices
process {
    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args2 = "--genomeSAindexNbases 7"
    }
}

docker.registry = "nexus-docker-quay.ship.gov.sg"
docker.enabled = true
process {
    shell = ['/bin/bash','-ueo','pipefail']   // no newlines
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}

