.nextflow/
.nextflow.*
work/
results/
.nf-test/
.nf-work/
trace.txt
timeline.html
report.html

*.fastq*
*.fq*
*.bam
*.bai
*.cram
*.crai
*.vcf*
*.bcf
*.tbi
*.fasta
*.fa
*.fai
*.gtf*
*.gff*
*.bed*
*.bw
*.nii*
*.h5

*.zip
*.tar
*.tar.gz
*.tgz
*.xz
*.bz2
*.7z

node_modules/
.venv/
__pycache__/
.DS_Store
Thumbs.db
*.swp
*.swo
