/*
Offline test profile for nf-core/scrnaseq
Uses S3-hosted test inputs and disables remote lookups.
*/

params {
    // Offline inputs (S3 CSV produced by mirror_testdata.sh)
    input  = 's3://lifebit-user-data-nextflow/offline/scrnaseq/data/inputs3.csv'
    outdir = '/tmp/out-scrnaseq'

    // Reference assets (mirror from scrnaseq test.config)
    fasta   = 's3://lifebit-user-data-nextflow/offline/scrnaseq/data/GRCm38.p6.genome.chr19.fa'
    gtf     = 's3://lifebit-user-data-nextflow/offline/scrnaseq/data/gencode.vM19.annotation.chr19.gtf'

    // Match nf-core/scrnaseq test profile
    aligner  = 'star'
    protocol = '10XV2'
    // small dataset does not have sufficient data for emptydrops module
    skip_emptydrops = true

    config_profile_name        = 'Offline test profile'
    config_profile_description = 'Minimal offline test dataset to check pipeline function'

    // Bounds for quick runs
    max_cpus   = 4
    max_memory = '4.GB'
    max_time   = '1.h'

    // Offline toggles
    genome                         = null
    igenomes_ignore                = true
    pipelines_testdata_base_path   = ''
    custom_config_base             = ''
    validate_params                = false
}

docker.registry = "nexus-docker-quay.ship.gov.sg"
docker.enabled = true
process {
    shell = ['/bin/bash','-ueo','pipefail']   // no newlines
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}
