/*
Offline test profile for nf-core/bamtofastq
Uses S3-hosted test inputs and disables remote lookups.
*/

params {
    // Offline inputs (S3 CSV produced by this script)
    input = 's3://lifebit-user-data-nextflow/offline/bamtofastq/data/inputs3.csv'
    outdir        = '/tmp/out-bamtofastq'

    config_profile_name        = 'Offline test profile'
    config_profile_description = 'Minimal offline test dataset to check pipeline function'

    // Bounds for quick runs
    max_cpus   = 4
    max_memory = '4.GB'
    max_time   = '1.h'


    // Offline toggles
    genome                         = null
    igenomes_ignore                = true
    pipelines_testdata_base_path   = ''
    custom_config_base             = ''
    validate_params                = false
}
docker.registry = "nexus-docker-quay.ship.gov.sg"
docker.enabled = true
process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}

